.root {
    -fx-font-family: "Segoe UI", "Helvetica", sans-serif;
    -fx-background-color: #588157;
}

.nav-logo {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    /*-fx-cursor: hand;*/
}

.nav-bouton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 8 16 8 16;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-radius: 6px;
}

.nav-bouton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.nav-bouton:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.nav-bouton-CTA {
    -fx-background-color: white;
    -fx-text-fill: #588157;
    -fx-font-size: 25px;
    -fx-font-weight: 700;
    -fx-padding: 15 30 15 30;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

.nav-bouton-CTA:hover {
    -fx-background-color: #f0f0f0;
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}

.nav-bouton-CTA:pressed {
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0, 0, 1);
}

.page {
    -fx-background-color: white;
    /*-fx-background-image: url('images/progress-background.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;*/
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 1, 1);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}