.step-card {
    -fx-spacing: 10px;
    -fx-background-color: -color-3;
    -fx-border-color: -color-4;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0, 0, 4);
}

.step-card-locked {
    -fx-opacity: 0.5;
}

.step-label {
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-fill: -color-6;
}

.defi-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 15px;
}

.defi-button-label {
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-fill: -color-6;
    -fx-text-alignment: center;
}

.defi-button:hover {
    -fx-background-color: -color-2;
}

.points-container {
    -fx-background-color: -color-3;
    -fx-border-color: -color-6;
    -fx-border-width: 1px;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-padding: 12px;
}

.points-text {
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-text-fill: -color-6;
}