@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.root {
    -color-1: #344E41;
    -color-2: #3A5A40;
    -color-3: #588157;
    -color-4: #A3B18A;
    -color-5: #DAD7CD;
    -color-6: #E1FFDB;
    -fx-font-family: "Prompt", sans-serif;
    -fx-background-color: -color-3;
}

.content-pane-root {
    -fx-background-color: -color-3;
}

.title {
    -fx-font-size: 48px;
    -fx-font-weight: 900;
    -fx-text-fill: -color-6;
}

.subtitle {
    -fx-font-size: 24px;
    -fx-font-weight: 400;
    -fx-text-fill: -color-6;
}

.button-filled {
    -fx-background-color: -color-6;
    -fx-text-fill: -color-1;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 70px;
}

.button-filled:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.9;
}

.button-filled:pressed {
/*    A revoir */
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.button-outlined {
    -fx-background-color: transparent;
    -fx-text-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 70px;
    -fx-border-color: -color-6;
    -fx-border-width: 2px;
    -fx-border-radius: 70px;
}

.button-outlined:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.9;
}

.button-outlined:pressed {
    /*    A revoir */
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.button-filled-text {
    -fx-background-color: transparent;
    -fx-text-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
}

.menu-principal {
    -fx-background-color: -color-3;
    -fx-padding: 15px;
}

.navbar {
    -fx-pref-width: 320px;
    -fx-text-fill: -color-6;
}

.contenu {
    -fx-pref-width: 100%;
    -fx-background-color: -color-1;
    -fx-border-radius: 18px;
    -fx-background-radius: 18px;
    -fx-min-height: 100%;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 1, 1);
}

.button-ghost {
    -fx-background-color: transparent;
    -fx-text-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 70px;
}

.button-ghost:hover {
    -fx-cursor: hand;
    -fx-background-color: -color-2;
    -fx-opacity: 0.9;
}

.contenu > .viewport {
    -fx-background-color: transparent;
}

.contenu > .scroll-bar {
    -fx-background-color: transparent;
}

.logo {
    -fx-text-fill: -color-6;
}

.logo.first-line {
    -fx-font-size: 24px;
    -fx-font-weight: 400;
}

.logo.second-line {
    -fx-font-size: 36px;
    -fx-font-weight: 900;
}

.tab {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-padding: 8px;
    -fx-text-fill: -color-6;
    -fx-background-radius: 10px;
}

.tab:hover {
    -fx-background-color: -color-2;
    -fx-cursor: hand;
}

.tabs-rectangle.selected {
    -fx-fill: -color-6;
}


.tabs-rectangle {
    -fx-pref-width: 5px;
    -fx-pref-height: 34px;
    -fx-fill: transparent;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.tabs-text {
    -fx-font-size: 20px;
    -fx-font-weight: 500;
    -fx-fill: -color-5;
}

.tabs-text.selected {
    -fx-fill: -color-6;
}

.home-tab  {
    -fx-background-color: -color-1;
    -fx-background-image: url('../img/background.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 1, 1);
}

.button.filled.text {
    -fx-background-color: transparent;
    -fx-fill: -color-1;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
}



.button.outlined.text {
    -fx-background-color: transparent;
    -fx-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
}

.form-label {
    -fx-font-size: 13px;
    -fx-font-weight: 400;
    -fx-text-fill: #FFF;
}

.form-small-text {
    -fx-font-size: 10px;
    -fx-font-weight: 300;
    -fx-text-fill: #FFF;
    -fx-fill: #FFF;
}

.form-container {
    -fx-background-color: -color-2;
    -fx-pref-width: 200px;
    -fx-padding: 15px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0, 0, 4);

}

.slider {
    -fx-background-color: transparent;
}

.slider .thumb {
    -fx-background-color: -color-6;
    -fx-pref-height: 20px;
}

.slider .thumb:hover {
    -fx-scale-x: 1.1;
}

.slider .thumb:pressed {
    -fx-scale-x: 0.9;
}

.slider .track {
    -fx-background-color: -color-1;
    -fx-pref-height: 10px;
}

.slider:vertical .track {
    -fx-background-color: red;
}

.slider .axis {
    -display-tick-labels: false;
    -fx-tick-label-fill: transparent;
    -fx-tick-length: 2;
    -fx-minor-tick-length: 0;
}

.text-field {
    -fx-background-color: -color-1;
    -fx-text-fill: #FFF;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}

.text-field:focused {
    -fx-border-color: -color-6;
    -fx-border-width: 1px;
}

.charger-profile {
    -fx-background-color: rgba(225, 255, 219, 0.75);
    -fx-border-color: -color-6;
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-padding: 10px;
    -fx-text-fill: -color-6;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

.charger-profile:hover {
    -fx-background-color: rgba(225, 255, 219, 1);
}

.charger-profile:pressed {
    -fx-background-color: rgba(225, 255, 219, 0.80);
}

.charger-profile > text {
    -fx-fill: -color-1;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.charger-profile-button {
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-padding: 5;
    -fx-cursor: hand;
}

.charger-profile-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.25);
}

.spinner {
    -fx-background-color: -color-1;
    -fx-background-radius: 5px;
    -fx-padding: 2;
    -fx-spacing: 5;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: -color-2;
}

.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -color-6;
}

.spinner .increment-arrow-button:focused, .spinner .decrement-arrow-button:focused {
    -fx-border-color: -color-6;
    -fx-border-width: 1px;
}

.spinner .increment-arrow-button:pressed, .spinner .decrement-arrow-button:pressed {
    -fx-background-color: -color-3;
    -fx-translate-y: 1;
}