/*@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.root {
    -color-1: #344E41;
    -color-2: #3A5A40;
    -color-3: #588157;
    -color-4: #A3B18A;
    -color-5: #DAD7CD;
    -color-6: #E1FFDB;
    -fx-font-family: "Pixelify Sans", sans-serif;
    -fx-background-color: -color-2;
}

.content-pane-root {
    -fx-background-color: -color-3;
}

.title {
    -fx-font-size: 48px;
    -fx-font-weight: 900;
    -fx-text-fill: -color-6;
}

.subtitle {
    -fx-font-size: 24px;
    -fx-font-weight: 400;
    -fx-text-fill: -color-6;
}

.button-filled {
    -fx-background-color: -color-4;
    -fx-text-fill: -color-1;
    -fx-font-weight: 600;
    -fx-font-size: 18px;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: -color-1;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 4, 4);
}

.button-filled:hover {
    -fx-cursor: hand;
    -fx-background-color: -color-5;
    -fx-translate-y: -2px;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 6, 6);
}

.button-filled:pressed {
    -fx-background-color: -color-5;
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 2, 2);
}

.button-outlined {
    -fx-background-color: transparent;
    -fx-text-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
    -fx-border-color: -color-4;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 3, 3);
}

.button-outlined:hover {
    -fx-cursor: hand;
    -fx-background-color: -color-2;
    -fx-border-color: -color-5;
    -fx-translate-y: -2px;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 5, 5);
}

.button-outlined:pressed {
    -fx-background-color: -color-3;
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 1, 1);
}

.button-filled-text {
    -fx-background-color: transparent;
    -fx-text-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 18px;
}

.menu-principal {
    -fx-background-color: -color-3;
    -fx-padding: 15px;
}

.navbar {
    -fx-pref-width: 320px;
    -fx-text-fill: -color-6;
}

.contenu {
    -fx-pref-width: 100%;
    -fx-background-color: -color-1;
    -fx-border-radius: 18px;
    -fx-background-radius: 18px;
    -fx-min-height: 100%;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 1, 1);
}

.button-ghost {
    -fx-background-color: transparent;
    -fx-text-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
}

.button-ghost:hover {
    -fx-cursor: hand;
    -fx-background-color: -color-2;
    -fx-border-color: -color-4;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 2, 2);
}

.contenu > .viewport {
    -fx-background-color: transparent;
}

.contenu > .scroll-bar {
    -fx-background-color: transparent;
}

.logo {
    -fx-text-fill: -color-6;
}

.logo.first-line {
    -fx-font-size: 24px;
    -fx-font-weight: 400;
}

.logo.second-line {
    -fx-font-size: 36px;
    -fx-font-weight: 900;
}

.tab {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-padding: 8px;
    -fx-text-fill: -color-6;
    -fx-background-radius: 10px;
}

.tab:hover {
    -fx-background-color: -color-2;
    -fx-cursor: hand;
}

.tabs-rectangle.selected {
    -fx-fill: -color-6;
}


.tabs-rectangle {
    -fx-pref-width: 5px;
    -fx-pref-height: 34px;
    -fx-fill: transparent;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.tabs-text {
    -fx-font-size: 20px;
    -fx-font-weight: 500;
    -fx-fill: -color-5;
}

.tabs-text.selected {
    -fx-fill: -color-6;
}

.home-tab {
    -fx-background-color: -color-1;
    -fx-background-image: url('../img/background.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 1, 1);
}

.button.filled.text {
    -fx-background-color: transparent;
    -fx-fill: -color-1;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
}


.button.outlined.text {
    -fx-background-color: transparent;
    -fx-fill: -color-5;
    -fx-font-weight: 600;
    -fx-font-size: 18px;
}

.form-label {
    -fx-font-size: 13px;
    -fx-font-weight: 400;
    -fx-text-fill: #FFF;
}

.form-small-text {
    -fx-font-size: 10px;
    -fx-font-weight: 300;
    -fx-text-fill: #FFF;
    -fx-fill: #FFF;
}

.form-container {
    -fx-background-color: -color-2;
    -fx-pref-width: 200px;
    -fx-padding: 15px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0, 0, 4);

}

.slider {
    -fx-background-color: transparent;
}

.slider .thumb {
    -fx-background-color: -color-6;
    -fx-pref-height: 20px;
}

.slider .thumb:hover {
    -fx-scale-x: 1.1;
}

.slider .thumb:pressed {
    -fx-scale-x: 0.9;
}

.slider .track {
    -fx-background-color: -color-1;
    -fx-pref-height: 10px;
}

.slider:vertical .track {
    -fx-background-color: red;
}

.slider .axis {
    -display-tick-labels: false;
    -fx-tick-label-fill: transparent;
    -fx-tick-length: 2;
    -fx-minor-tick-length: 0;
}

.text-field {
    -fx-background-color: -color-1;
    -fx-text-fill: #FFF;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}

.text-field:focused {
    -fx-border-color: -color-6;
    -fx-border-width: 1px;
}

.charger-profile {
    -fx-background-color: -color-3;
    -fx-text-fill: -color-5;
    -fx-border-color: -color-1;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-font-size: 18px;
    -fx-font-weight: 500;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 4, 4);
}

.charger-profile:hover {
    -fx-cursor: HAND;
    -fx-translate-y: -1px;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 5, 5);
}

.charger-profile:pressed {
    -fx-background-color: -color-5;
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 2, 2);
}

.touche-info {
    -fx-background-color: -color-5;
    -fx-text-fill: -color-1;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
    -fx-border-color: -color-1;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(one-pass-box, -color-1, 0, 0, 2, 2);
}

.charger-profile > text {
    -fx-fill: -color-1;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.charger-profile-button {
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-padding: 5;
    -fx-cursor: hand;
}

.charger-profile-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.25);
}

.spinner {
    -fx-background-color: -color-1;
    -fx-background-radius: 5px;
    -fx-padding: 2;
    -fx-spacing: 5;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: -color-2;
}

.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -color-6;
}

.spinner .increment-arrow-button:focused, .spinner .decrement-arrow-button:focused {
    -fx-border-color: -color-6;
    -fx-border-width: 1px;
}

.spinner .increment-arrow-button:pressed, .spinner .decrement-arrow-button:pressed {
    -fx-background-color: -color-3;
    -fx-translate-y: 1;
}

.combo-box .list-cell {
    -fx-background-color: -color-1;
    -fx-text-fill: -color-6;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}

.combo-box .list-cell:hover {
    -fx-background-color: -color-2;
}

.combo-box .list-cell:selected {
    -fx-border-color: -color-6;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-start-margin: 20px;
    -fx-border: -color-6;

}

.combo-box-base {
    -fx-padding: 2px;
    -fx-border-radius: 7px;
    -fx-border-insets: 2px;
    -fx-background-radius: 7px;
    -fx-background-color: -color-3;
}

.combo-box .combo-box-popup .list-view {
    -fx-padding: 2px;
    -fx-background-radius: 7px;
    -fx-background-color: -color-3;
    -fx-spacing: 5px;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: -color-6;
}

.scroll-bar {
    -fx-background-color: -color-1;
    -fx-background-insets: 5;
}

.scroll-bar .thumb {
    -fx-background-color: -color-6;
    -fx-opacity: 0.5;
    -fx-background-radius: 100px;
}

.scroll-bar .thumb:hover {
    -fx-opacity: 0.7;
}

.scroll-bar .thumb:pressed {
    -fx-opacity: 0.6;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
}