@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.root {
    -color-1: #344E41;
    -color-2: #3A5A40;
    -color-3: #588157;
    -color-4: #A3B18A;
    -color-5: #DAD7CD;
    -color-6: #E1FFDB;
    -fx-font-family: "Prompt", sans-serif;
    -fx-background-color: -color-3;
}

.content-pane-root {
    -fx-background-color: -color-3;
}

.title {
    -fx-font-size: 48px;
    -fx-font-weight: 900;
    -fx-text-fill: -color-6;
}

.subtitle {
    -fx-font-size: 24px;
    -fx-font-weight: 400;
    -fx-text-fill: -color-6;
}

.button-filled {
    -fx-background-color: -color-6;
    -fx-text-fill: -color-1;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 70px;
}

.button-filled:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.9;
}

.button-filled:pressed {
/*    A revoir */
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.button-outlined {
    -fx-background-color: transparent;
    -fx-text-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 70px;
    -fx-border-color: -color-6;
    -fx-border-width: 2px;
    -fx-border-radius: 70px;
}

.button-outlined:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.9;
}

.button-outlined:pressed {
    /*    A revoir */
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.menu-principal {
    -fx-background-color: -color-3;
    -fx-padding: 15px;
}

.navbar {
    -fx-pref-width: 320px;
    -fx-text-fill: -color-6;
}

.contenu {
    -fx-pref-width: 100%;
    -fx-background-color: transparent;
    -fx-border-radius: 18px;
    -fx-background-radius: 18px;
}

.button-ghost {
    -fx-background-color: transparent;
    -fx-text-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 70px;
}

.button-ghost:hover {
    -fx-cursor: hand;
    -fx-background-color: -color-2;
    -fx-opacity: 0.9;
}

.contenu > .viewport {
    -fx-background-color: transparent;
}

.contenu > .scroll-bar {
    -fx-background-color: transparent;
}

.logo {
    -fx-text-fill: -color-6;
}

.logo.first-line {
    -fx-font-size: 24px;
    -fx-font-weight: 400;
}

.logo.second-line {
    -fx-font-size: 36px;
    -fx-font-weight: 900;
}

.tab {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-padding: 8px;
    -fx-text-fill: -color-6;
    -fx-background-radius: 10px;
}

.tab:hover {
    -fx-background-color: -color-2;
    -fx-cursor: hand;
}

.tabs-rectangle.selected {
    -fx-fill: -color-6;
}


.tabs-rectangle {
    -fx-pref-width: 5px;
    -fx-pref-height: 34px;
    -fx-fill: transparent;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.tabs-text {
    -fx-font-size: 20px;
    -fx-font-weight: 500;
    -fx-fill: -color-5;
}

.tabs-text.selected {
    -fx-fill: -color-6;
}

.home-tab  {
    -fx-background-color: white;
    -fx-background-image: url('../img/background.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 1, 1);
}

.button.filled.text {
    -fx-background-color: transparent;
    -fx-fill: -color-1;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
}



.button.outlined.text {
    -fx-background-color: transparent;
    -fx-fill: -color-6;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
}
